<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>News Website</title>
  <link rel="stylesheet" href="/style/user/detail.css" />
</head>

<body>
  <%- include('layout/header-user') -%>
  <main>
    <div class="container">
      <section class="news-detail">
        <img src="<%= newsResult.image %>" alt="News Image" />
        <h2><%= newsResult.title %></h2>
        <div class="meta">
          <span>By Author PandaNews</span> |
          <span><%= formatDateTime(newsResult.dateCreate) %></span>
        </div>
        <div class="content"><%= newsResult.content %></div>
      </section>
      <section class="comments-section">
        <h3>Bình luận</h3>
        <!-- <%= comment %> -->
        <% comment.forEach(function(value){ %>
        <div class="comment">
          <div class="comment-meta">
            <span><%= value.users.username %></span> | <span> <%= formatDateTime(value.date) %></span>
          </div>
          <div class="comment-content">
            <p><%= value.comment %></p>
          </div>
        </div>
        <% }); %>

        <form method="post">
          <div class="comment-form">
            <textarea name="comment" rows="4" placeholder="Viết bình luận của bạn..."></textarea>
            <button type="submit">Gửi</button>
          </div>
        </form>
      </section>
    </div>
  </main>
  <%- include('layout/footer-user') -%>
</body>

</html>