<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Website</title>
    <link rel="stylesheet" href="style/user/home.css" />
  </head>
  <body>
    <%- include('layout/header-user') -%>
    <main>
      <div class="container">
        <section class="other-news">
          <% data.forEach(function(news){ %>
          <a href="/detail/<%=news.slug%>" style="text-decoration: none;" >
            <article>
              <img src="<%=news.image %>" alt="Other News 1" />
              <h3><%= news.title %></h3>
              <h3><%= news.slug %></h3>
              <p><%= news.content %></p>
            </article>
          </a>
          <% }); %>
        </section>
      </div>
    </main>
    <%- include('layout/footer-user') -%>
  </body>
</html>
